<div class="col-md-10">
	<h1>Enter Group Information</h1>
	<div class="row">
		<div class="col-md-6">
			<%= render 'group_form' %>
		</div>
	 	<div class="col-md-6">
			<label class="control-label">Current Users</label>
			<div class='user_div' id="current_members"></div>
		</div>
	</div>
	<hr>
	<%= render 'search_form' %>
</div>
<div class="col-md-2">
	<h1>Log In</h1>
	<%= render 'login_form' %>
</div>