<div class="row">
	<h1>Search for your group's Twitterers</h1>
	<!-- <div class="clearfix"></div> -->
	<form action="<%= searches_url %>" method="POST" id="search_form" class="form-inline" role="form">
		<div class="form-group">
			<label class="sr-only" for="user_name">User Search</label>
			<input class="form-control" type="text" name="user[name]" id="user_name" placeholder="Search Term">
		</div>
		<input id="page_num" type='hidden' name="user[page]" value='1'>
		<button type="submit" class="btn btn-default">Search</button>
	</form>

	<h2 class='inline'>Search Results</h2>
	<a id="prev_page" class='change_page disabled' href="">Prev</a>
	<a id="next_page" class='change_page' href="">Next</a>	
</div>
<div class="row">
	<div class='searched_users col-md-6' id="searched_users_0"></div>
	<div class='searched_users col-md-6' id="searched_users_1"></div>
</div>

<script type="text/javascript">
	$(function () {
		$("#page_num").val('1');
	})
</script>