<form action="<%= searches_url %>" method="POST" id="search_form">
	<label class="control-label" for="user_name">User Search</label>
	<input class="control" type="text" name="user[name]" id="user_name">
	<input class="btn" type="submit" value="Search">
</form>