<div class="container">
	<div class="col-md-10">
		<h1>ze Groups</h1>
		<% mid = @user_groups.size / 2 %>
		<% left_group, right_group = @user_groups[0...mid], @user_groups[mid..-1] %>

		<div id="left_group" class="col-md-6">
			<% @groups = left_group %>
			<%= render 'group_column' %>
		</div>
		<div id="right_group" class="col-md-6">
			<% @groups = right_group %>
			<%= render 'group_column' %>
		</div>
	</div>
	<div class="col-md-2">
		<h1>SPACE</h1>
		<%= render 'login_form' %>
	</div>
</div>

	