/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require jquery.ui.accordion
 */
 body {
 	width: 80%;
 	padding-left: 10%;
 }
 .search_result:hover {
 	background: #CCCC99;
 }
 .search_result {
 	clear: both;
 }
 .search_img {
 	float: left;
 }
 #search_form {
 	padding-bottom: 10px;
 }
 .group_link {
 	text-decoration: none;
 	font-size: 4em;
 	color: #000;
 }
 .group_link:hover {
 	text-decoration: underline;
 }
 /*.group_link:visited {
 	/*color: #CCCC99;*/
 }*/
 .group_name {
 	font-size: 4em;
 }
 .group_description {

 }
 .group_label {
 	color: #CCCC99;
 	vertical-align: top;
 }
 .group_index {
 	margin-bottom: 10px;
 	padding-left: 20px;
 	cursor: pointer;
 }
 .group_index:hover {
 	background: #CCCC99;
 }
 .index_thumb {
 	padding: 5px;
 	width: 24px;
 	height: 24px;
 }
 .index_thumb:hover {
 	background-color: #CCCC99;
 	cursor: pointer;
 }
 .show_page_edit_button {
 	padding: 15px;
 }
 .enter_group_name {
 	font-size: 1.2em;
 }
 #group_form_labels {
 	padding-right: 20px;
 	vertical-align: top;
 }
 #group_form_input {
 }
 #group_form_labels {
 	float: left;
 }
 .group_form {
 	height: auto;
 	padding: 20px;
 	margin: 10px;
 	border: 2px solid #CCCC99;
 	border-bottom-right-radius: 20px 20px;
 	border-bottom-left-radius: 20px 20px;
 	border-top-right-radius: 20px 20px;
 	border-top-left-radius: 20px 20px;
 }
 .group_form img {
 	width: 48px;
 	height: 48px;
 }
 #selected_users {
 	width: 50%;
 	float: right;
 }
 #searched_users {
 	clear: both;
 	width: 50%;
 	float: left;
 }
#searched_users_label_div {
	width: 50%;
 	float: left;
}
#selected_users_label_div {
	width: 50%;
 	float: right;
}
 .username {
 	padding-left: 10px;
 	font-weight: bold;
 	font-size: 2em;
 }
 .location {
 	padding-left: 10px;
 }
 .time {
 	font-style: italic;
 	font-size: 1.3em;
 	padding-right: 15px;
 	display: block;
 	float: left;
 	width: 100px;
 }
 .tweet_text {
 	font-size: 0.7em;
 }
 .disabled {
 	color: gray;
 	text-decoration: none;
 	cursor: default;
 }
 .clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
 }
 .inline {
 	display: inline;
 }
 .none {
 	display: none;
 }
 #search_controls {
 	padding-top: 10px;
 	padding-bottom: 40px;
 }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */