<h1>Nanabozho</h1>
<p>Create a Group &amp; View its Tweets</p>
<div id='header_links'>
	<a href='<%= groups_url %>'>View Groups</a>
	<a href='<%= new_group_url %>'>Create Group</a>
	<a id='help_link' href=''>Help</a>
</div>
<hr>
<div id='help_text'>
	<ul>
		<li>Click 'View Groups' to view all groups. Select a group to view its members' Tweets.</li>
		<li>Click 'Create Group' to create your own group. Don't forget to select your group members!</li>
		<li>Click 'Help' to close this dialog.</li>
	</ul>
</div>